body,div,h1,h2,h3,h4,h5,span,a,dl,dt,dd,ul,ol,li,input,p,img{padding:0px; margin:0px; border:0px;list-style:none;}
.clear{ clear:both;}
body{font-family:"微软雅黑"; font-size:14px; color:#3e3e3e; background:#eeeeee; }
a:link,a:visited{color:#000;text-decoration:none;}
a:hover{ color:#FF7F00; text-decoration:none;}
a{ outline:none;}
img{ display:block;}
input,button{outline:none} 
.red{ color:#e40000;}
.orange{ color:#FF7F00;}
.blue{ color:#2ca7ea;}
.left{ float:left;}
.right{ float:right;}
.sub{ position: absolute;}
.last{ border:none;}