@charset "utf-8";
/* CSS Document */

@import 'font';
@import 'reset';

/*--common--*/
.clearfix {
  clear: both;
}
.fr{ float: right;}
.fl{ float: left;}
/*--common--*/



.aside_left {
  width: 200px;
  float: left;
}

.logo {
  width: 200px;
  line-height: 60px;
  height: 60px;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.swith{ float:left; width:40px;}
.el-header{ padding:0;}